.App {
  text-align: center;
  background-color: #0e1729;
  min-height: 150vh;
  color: white;
  
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin-bottom: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header h2{
  padding: 0px;
  margin: 1px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Style for the select container */
.select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Style for the select dropdown */
.select select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #150f0f;
  background-color: #250505;
  color: #ffffff;
  outline: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}


.background {
  background-size: contain;
  margin-left: 450px;
  margin-right: 450px;
  height: 500px;
  width: 500px;
}
